@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Lato, Helvetica, 微软雅黑, "Microsoft YaHei", sans-serif;
  font-size: 16px;
  color: #0F2446;
}

h6 {
  font-size: 1.0rem;
}

h5 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.8rem;
}

h1 {
  font-size: 2.0rem;
}

button {
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

a {
  color: #0F2446;
  text-decoration: none;
}

.wrapper {
  margin: 0 10px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.middle {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.center {
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 8px 0 #aaa;
  z-index: 1;
}

header .nav {
  padding: 20px 0;
}

header .desktop-content {
  display: none;
}

header .logo {
  font-size: 2.0rem;
  font-weight: bold;
  color: #00AEF3;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

header .logo:hover {
  color: #0F2446;
}

header .social-visible,
header .social-toggle-box {
  float: left;
  white-space: nowrap;
}

header .social-toggle-box {
  padding-left: 3px;
  width: 0;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

header .social-toggle-box.active {
  width: 17rem;
  opacity: 1;
}

header .social-btn {
  margin: 0 0.25rem;
  text-align: center;
  font-size: 1.2rem;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  color: #fff;
  background-color: #0F2446;
  border-radius: 50%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

header .social-btn:hover {
  color: #0F2446;
  background: #fff;
}

header .social-toggle {
  margin-left: 0.5em;
  margin-right: 1em;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

header .social-toggle:hover {
  color: #00AEF3;
}

header .social-toggle.active {
  transform: rotate(45deg);
}

header .donate-btn {
  padding: 0.5rem 1rem;
  color: #E31818;
  font-size: 1.2rem;
  font-weight: bold;
  background: none;
  border: 3px solid #E31818;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

header .donate-btn:hover {
  color: #fff;
  background: #E31818;
}

header .mobile-content {
  flex: 1 100%;
  display: initial;
  margin-top: 0;
  height: 0;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

header .mobile-content.active {
  margin-top: 10px;
  height: 6.8rem;
}

header .mobile-content .social-btn {
  margin-top: 10px;
}

#content {
  margin-top: 76px;
}

#content .banner {
  height: 100%;
  background: url(../images/demslive_banner.png) center 25% no-repeat;
  background-size: cover;
}

#content .banner-overlay {
  padding: 8rem 10px;
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 174, 243, 0.7), rgba(255, 221, 0, 0.7));
}

#content .banner-text {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

#content .banner-title {
  margin-bottom: 40px;
  font-size: 2.8rem;
  color: #fff;
}

#content .banner-btn {
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  background: #0F2446;
  border: 3px solid #0F2446;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

#content .banner-btn:hover {
  color: #0F2446;
  background: #fff;
}

#content .signup {
  background: #f6f6f6;
}

#content .signup .wrapper > * {
  flex: 1 100%;
}

#content .signup .signup-title {
  margin: 2rem 0 1.5rem 0;
  font-size: 1.6rem;
}

#content .signup .email,
#content .signup .zip {
  padding: 0 0.4rem;
  margin: 0.5rem 0;
  height: 2.8rem;
  border: 1px solid #aaa;
  border-radius: 0;
  font-size: 1.2rem;
}

#content .signup .submit {
  padding: 0 3rem;
  border: 3px solid #E31818;
  border-radius: 0;
  margin: 0.5rem 0;
  height: 2.8rem;
  color: #E31818;
  background: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

#content .signup .submit:hover {
  color: #fff;
  background: #E31818;
}

#content .action-panel {
  margin-top: 30px;
  color: #fff;
}

#content .action-panel .wrapper {
  margin: 0 -10px;
}

#content .action {
  flex: 1 100%;
  padding: 20px;
}

#content .action:not(.action-donate):hover .action-overlay {
  cursor: pointer;
}

#content .action:not(.action-donate):hover .action-bg {
  transform: scale(1.1, 1.1);
}

#content .action-overlay {
  position: relative;
  overflow: hidden;
  padding: 20px;
  min-height: 300px;
}

#content .action-overlay .action-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

#content .action-overlay h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#content .action-overlay h3 {
  font-size: 1.4rem;
  font-weight: normal;
}

#content .action:nth-child(1) .action-overlay {
  background: linear-gradient(135deg, rgba(0, 12, 184, 0.7), rgba(0, 174, 243, 0.7));
}

#content .action:nth-child(1) .action-bg {
  background: url(../images/Hold.jpg) 50% 50% no-repeat;
  background-size: cover;
}

#content .action:nth-child(2) .action-overlay {
  background: linear-gradient(45deg, rgba(246, 246, 246, 0.7), rgba(0, 174, 243, 0.7));
}

#content .action:nth-child(2) .action-bg {
  background: url(../images/Photo_CallTool.jpg) 50% 0 no-repeat;
  background-size: cover;
}

#content .action:nth-child(3) .action-overlay {
  background: #0F2446;
}

#content .action:nth-child(4) .action-overlay {
  background: linear-gradient(135deg, rgba(0, 174, 243, 0.8), rgba(255, 221, 0, 0.8));
}

#content .action:nth-child(4) .action-bg {
  background: url(../images/dems-live.jpg) 50% 0 no-repeat;
  background-size: cover;
}

#content .action:nth-child(5) .action-overlay {
  background: rgba(0, 174, 243, 0.7);
}

#content .action:nth-child(5) .action-bg {
  background: url(../images/Merch-tile.png) 50% 50% no-repeat;
  background-size: cover;
}

#content .action:nth-child(6) .action-overlay {
  background: linear-gradient(135deg, rgba(15, 36, 70, 0.7), rgba(0, 174, 243, 0.7));
}

#content .action:nth-child(6) .action-bg {
  background: url(../images/officers.jpg) 50% 0 no-repeat;
  background-size: cover;
}

#content .action-donate h2 {
  text-align: center;
}

#content .action-donate .donate-option-wrapper {
  flex: 1 100%;
  padding: 15px;
}

#content .action-donate .donate-option {
  padding: 20px 0;
  background: #00AEF3;
  box-shadow: -5px 5px 0 0 #fff;
  font-size: 1.2rem;
  text-align: center;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

#content .action-donate .donate-option:hover {
  color: #00AEF3;
  background: #fff;
  box-shadow: -5px 5px 0 0 #00AEF3;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  background: #0F2446;
  color: #fff;
}

footer a {
  color: #fff;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
}

footer a:hover {
  color: #00AEF3;
}

footer .footer-btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background: #00AEF3;
  border: 3px solid #00AEF3;
}

footer .footer-btn:hover {
  background: #fff;
}

footer .official {
  padding: 10px 0;
  background: #00AEF3;
  font-size: 1.2rem;
  text-align: center;
}

footer .wrapper {
  margin-top: 30px;
}

footer .wrapper > * {
  flex: 1 100%;
  margin-bottom: 30px;
}

footer .copyright {
  margin-top: 1rem;
  line-height: 1.8rem;
}

footer .footer-nav {
  list-style: none;
  line-height: 1.8rem;
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav strong {
  line-height: 2.4rem;
}

footer .footer-nav-col {
  flex: 1 50%;
}

footer .logo {
  padding-bottom: 30px;
  text-align: center;
}

@media (min-width: 769px) {
  body {
    font-size: 18px;
  }

  .wrapper {
    margin: 0 50px;
  }

  header .mobile-content {
    display: none;
  }

  header .desktop-content {
    display: initial;
  }
}

@media (min-width: 769px) {
  #content {
    margin-top: 82px;
  }

  #content .banner-text {
    text-align: left;
  }

  #content .banner-overlay {
    padding: 8rem 50px;
  }
}

@media (min-width: 1201px) {
  #content .signup .wrapper {
    max-width: 1200px;
  }

  #content .signup .wrapper > * {
    flex: initial;
  }

  #content .signup .signup-title {
    margin: 2rem 0 2rem 0;
  }
}

@media (min-width: 769px) {
  #content .action-panel .wrapper {
    margin: 0 30px;
  }

  #content .action-panel .action {
    flex: 1 50%;
  }

  #content .action-donate .donate-option-wrapper {
    flex: 1 50%;
  }
}

@media (min-width: 1201px) {
  #content .action-overlay h2 {
    font-size: 2.2rem;
  }

  #content .action-overlay h3 {
    font-size: 1.6rem;
  }

  #content .action-panel .action {
    flex: 1 33.33%;
  }

  #content .action-donate .donate-option-wrapper {
    flex: 1 33.33%;
  }
}

@media (min-width: 769px) {
  footer .footer-nav-col {
    flex: 1 33.33%;
  }
}

@media (min-width: 1201px) {
  footer .wrapper > * {
    flex: 1 50%;
  }
}